.logo-image::before {
content: "";
position: absolute;
width: 40px;
height: 40px;
border: 3px solid white;
border-radius: 50% 50% 50% 0;
transform: rotate(-45deg);
top: 10px;
left: 15px;
}


.logo-image::after {
content: "";
position: absolute;
width: 10px;
height: 10px;
background: white;
border-radius: 50%;
top: 25px;
right: 20px;
}


/* Ajustes de tamaño para pantallas pequeñas que preferimos en CSS por precisión */
@media (max-width: 768px) {
.logo-image { width: 60px; height: 60px; }
header .container { height: 80px; }
}


@media (max-width: 480px) {
.logo-image { width: 50px; height: 50px; }
}